
body {
  background-color: black;
}

div {
  border: 1px solid black;
  background-color: #ff9c08;
  margin: 5px;
  padding: 5px;
}

#content {
  border: 2px dashed red;
  width: 40%;
  margin: auto;
  background-color: black
}

#headerBox {}

/*combine selectors*/
.linksBox,
.textBox {
  border-radius: 20px;
}

/* selector for all textboxes */
.textBox {
  overflow: auto;
}

/* Selector for only images inside of textbox  */
.textBox img {
  width: 25%;
  clear: both;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

a {
  color: #1a2a9c;
}

a:visited {
  color: #00ff99;
}

a:hover {
  color: #f200ff;
}

@media (max-width: 600px) {
  #content {
    width: 100%;
  }
}
